html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
/* Font-Size, Margin, padding  */
.fs-40 {
  font-size: 40px;
}
.fs-20 {
  font-size: 20px;
}
.fs-30 {
  font-size: 30px;
}
.mr-3 {
  margin-right: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
.py-2 {
  padding: 20px 0;
}
.pt-0 {
  padding-top: 0;
}

.pe-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.py-40 {
  padding-top: 20px;
  padding-bottom: 240px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mt-6 {
  margin-top: 70px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-7 {
  margin-top: 120px;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mt-2 {
  margin-top: 20px;
}
.mb-40 {
  margin-bottom: 70px;
}
.mb-50 {
  margin-bottom: 50px;
}
.py-50 {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* Buttons CSS */

.btn {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 249px;
  height: 62px;
  border: none;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}
.btn-default {
  background-color: #4c567b;
  color: #ffffff;
}
.btn-default:hover {
  cursor: pointer;
  background-color: #3d4255;
  color: #ffffff;
}
.btn-outline-light {
  background-color: transparent;
  border: #ffffff solid 2px;
  color: #ffffff;
  border-radius: 5px;
}
.btn-outline-light:hover {
  background-color: #ffffff;
  color: #3d4255;
  cursor: pointer;
}
.btn-light {
  background-color: #ffffff;
  color: #3d4255;
}
.btn-light:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}
.btn-back {
  text-decoration: none;
  color: #000000;
}
.btn-back:hover {
  color: #4c567b;
}
.btn-menu {
  display: none;
}
/* TextBox, Input, Form CSS */
.input-control {
  border: #ededed solid 2px;
  border-radius: 5px;
  width: 100%;
  height: 42px;
  padding-left: 20px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
}
.input-textarea {
  border: #ededed solid 2px;
  border-radius: 5px;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
}
/* Text CSS */

.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
/* Border CSS */
.border-bottom-default {
  border-bottom: #e8e8e8 solid 2px;
}
/* Other css */
.container {
  max-width: 1344px;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 990px) {
  .container {
    max-width: 1344px;
    width: 90%;
    margin: 0 auto;
  }
}
.row {
  display: flex;
}
.read-more {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.read-more:hover {
  color: #4c567b;
}
.blog-title:hover {
  cursor: pointer;
}
.footer {
  background-color: #3d4255;
  color: #ffffff;
  padding: 60px 0;
}
.footer-title {
  padding-bottom: 30px;
}
.footer-icon {
  margin-bottom: 40px;
}
.footer-address {
  margin-bottom: 60px;
}
.address-content {
  list-style-type: none;
  padding-left: 0px;
}
.address-content > li {
  padding-bottom: 10px;
}
.address-content {
  list-style-type: none;
  padding-left: 0px;
}
.address-content > li {
  padding-bottom: 10px;
}
.footer-social {
  text-decoration: none;
}
.footer-socio {
  color: #ffffff;
  font-size: 25px;
  padding-right: 20px;
}

/* alignment and justification */
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}
.sticky {
  background-color: #ffffff;
  position: sticky;
  top: 0;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.brand-logo {
  font-size: 2rem;
  font-family: "Iceberg", cursive;
}
.navbar {
  list-style-type: none;
}
.navbar li {
  margin-left: 2em;
}

.navlink {
  text-decoration: none;
  color: #676565;
  opacity: 0.65;
}

.active {
  font-weight: bold;
  color: #000000;
  opacity: 1;
}

/* background Color Divs */
.bg-grey {
  background-color: #f8f8f8;
}

/* Column Width CSS */
.col-20 {
  width: 20%;
}
.col-30 {
  width: 30%;
}
.col-40 {
  width: 40%;
}
.col-45 {
  width: 45%;
}
.col-50 {
  width: 50%;
}
.col-55 {
  width: 55%;
}
.col-65 {
  width: 65%;
}
.col-70 {
  width: 70%;
}
/* Float CSS */
.float-right {
  float: right;
}
.img-fluid {
  max-width: 100%;
}

@media (max-width: 420px) {
  .row {
    flex-direction: column;
  }
  .d-none {
    display: none;
  }
  .navbar {
    padding-left: 0;
  }
  .navbar li {
    padding-bottom: 1em;
  }
  .align-items-center {
    align-items: normal;
  }
  .brand-logo {
    margin: 20px 0;
  }
  .row-reverse {
    flex-direction: column-reverse;
    text-align: center;
  }
  .py-100 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .my-name {
    margin-top: 10px;
  }
  .row-reverse a {
    margin-left: auto;
    margin-right: auto;
  }
  .d-flex {
    display: flex;
  }

  .col-20,
  .col-30,
  .col-40,
  .col-45,
  .col-50,
  .col-55,
  .col-65,
  .col-70 {
    width: 100%;
  }
  .input-control {
    width: 93%;
  }
  .input-textarea {
    width: 93%;
  }
  .mb-sm-60 {
    margin-bottom: 60px;
  }
  .mt-sm-50 {
    margin-top: 50px;
  }
  .btn-back {
    text-align: left;
  }
  .text-left {
    text-align: left;
  }
  .align-center {
    align-items: center;
  }
  .btn-menu {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
  }
  .btn-menu:hover {
    background-color: #4c567b;
    color: #ffffff;
  }
  .btn-menu i {
    font-size: 1.2rem;
  }
}
